In [1]:
import pandas as pd
import numpy as np

In [87]:
chi_weather19 = pd.read_csv('chicago_weather_19.csv')

In [88]:
chi_weath = chi_weather19[39182:]
chi_weath

,STATION,DATE,AWND,DAPR,MDPR,PGTM,PRCP,SNOW,SNWD,TAVG,...,WSF5,WT01,WT02,WT03,WT04,WT05,WT06,WT08,WT09,WT11
39182,USW00094846,2019-01-01,7.61,NaN,NaN,NaN,0.01,0.1,0.0,31.0,...,21.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
39183,USW00094846,2019-01-02,8.72,NaN,NaN,NaN,0.01,0.1,0.0,28.0,...,29.1,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
39184,USW00094846,2019-01-03,11.63,NaN,NaN,NaN,0.00,0.0,0.0,29.0,...,27.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39185,USW00094846,2019-01-04,8.05,NaN,NaN,NaN,0.00,0.0,0.0,37.0,...,19.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39186,USW00094846,2019-01-05,8.28,NaN,NaN,NaN,0.00,0.0,0.0,39.0,...,23.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39542,USW00094846,2019-12-27,7.16,NaN,NaN,NaN,0.00,0.0,0.0,37.0,...,23.9,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39543,USW00094846,2019-12-28,6.93,NaN,NaN,NaN,0.28,0.0,0.0,34.0,...,17.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
39544,USW00094846,2019-12-29,10.96,NaN,NaN,NaN,0.93,0.0,0.0,52.0,...,31.1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39545,USW00094846,2019-12-30,17.67,NaN,NaN,NaN,0.09,0.7,0.0,38.0,...,45.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39546,USW00094846,2019-12-31,14.54,NaN,NaN,NaN,0.08,0.8,2.0,26.0,...,42.9,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
type(chi_weath['DATE'][39182])

str

In [89]:
chi_crime = pd.read_csv("Crimes_-_2019.csv")
chi_crime.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,12043166,JD223749,12/14/2019 12:00:00 PM,040XX N ELSTON AVE,0810,THEFT,OVER $500,RESIDENCE - PORCH / HALLWAY,False,False,...,45.0,16.0,06,NaN,NaN,2019,05/04/2020 03:49:32 PM,NaN,NaN,NaN
1,12043236,JD223828,05/04/2019 12:00:00 AM,034XX W OHIO ST,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,SIDEWALK,False,False,...,27.0,23.0,02,NaN,NaN,2019,05/04/2020 03:49:32 PM,NaN,NaN,NaN
2,12042655,JD222392,01/01/2019 12:01:00 AM,011XX N HARDING AVE,1754,OFFENSE INVOLVING CHILDREN,AGGRAVATED SEXUAL ASSAULT OF CHILD BY FAMILY M...,APARTMENT,False,True,...,37.0,23.0,02,NaN,NaN,2019,05/04/2020 03:49:32 PM,NaN,NaN,NaN
3,11883502,JC500293,11/04/2019 11:30:00 PM,006XX E 75TH ST,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,APARTMENT,False,True,...,6.0,69.0,17,1181616.0,1855414.0,2019,05/04/2020 03:47:28 PM,41.758489,-87.609954,"(41.75848875, -87.609954205)"
4,11751172,JC340802,07/09/2019 01:30:00 AM,013XX W LUNT AVE,0265,CRIMINAL SEXUAL ASSAULT,AGGRAVATED - OTHER,APARTMENT,True,False,...,49.0,1.0,02,1165953.0,1946632.0,2019,05/04/2020 03:47:28 PM,42.009145,-87.664753,"(42.009145091, -87.664753261)"

In [90]:
crime_dates = []
for x in chi_crime['Date']:
    crime_dates.append(x[6:10]+"-"+x[0:2]+"-"+x[3:5])
crime_dates = pd.DataFrame(crime_dates)

In [91]:
chi_crime.insert(len(chi_crime.columns),'DATE', crime_dates)

In [92]:
chi_crime.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,DATE
0,12043166,JD223749,12/14/2019 12:00:00 PM,040XX N ELSTON AVE,0810,THEFT,OVER $500,RESIDENCE - PORCH / HALLWAY,False,False,...,16.0,06,NaN,NaN,2019,05/04/2020 03:49:32 PM,NaN,NaN,NaN,2019-12-14
1,12043236,JD223828,05/04/2019 12:00:00 AM,034XX W OHIO ST,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,SIDEWALK,False,False,...,23.0,02,NaN,NaN,2019,05/04/2020 03:49:32 PM,NaN,NaN,NaN,2019-05-04
2,12042655,JD222392,01/01/2019 12:01:00 AM,011XX N HARDING AVE,1754,OFFENSE INVOLVING CHILDREN,AGGRAVATED SEXUAL ASSAULT OF CHILD BY FAMILY M...,APARTMENT,False,True,...,23.0,02,NaN,NaN,2019,05/04/2020 03:49:32 PM,NaN,NaN,NaN,2019-01-01
3,11883502,JC500293,11/04/2019 11:30:00 PM,006XX E 75TH ST,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,APARTMENT,False,True,...,69.0,17,1181616.0,1855414.0,2019,05/04/2020 03:47:28 PM,41.758489,-87.609954,"(41.75848875, -87.609954205)",2019-11-04
4,11751172,JC340802,07/09/2019 01:30:00 AM,013XX W LUNT AVE,0265,CRIMINAL SEXUAL ASSAULT,AGGRAVATED - OTHER,APARTMENT,True,False,...,1.0,02,1165953.0,1946632.0,2019,05/04/2020 03:47:28 PM,42.009145,-87.664753,"(42.009145091, -87.664753261)",2019-07-09

In [93]:
total_crimes = []
total_arrests = []
for d in chi_weath['DATE']:
    temp = chi_crime.loc[chi_crime['DATE'] == d]
    total_crimes.append(len(temp))
    total_arrests.append(len(temp.loc[temp['Arrest']==True]))

In [94]:
chi_crime_weather = pd.DataFrame()
chi_crime_weather.insert(0, 'DATE', chi_weath['DATE'])
chi_crime_weather.insert(1, 'TEMP', chi_weath['TAVG'])
chi_crime_weather.insert(2, 'PRCP', chi_weath['PRCP'])
chi_crime_weather.insert(3, 'SNOW', chi_weath['SNOW'])
chi_crime_weather.insert(4, 'WIND', chi_weath['AWND'])
chi_crime_weather.insert(5, 'CRIMES', total_crimes)
chi_crime_weather.insert(6, 'ARRESTS', total_arrests)

chi_crime_weather = chi_crime_weather.reset_index(drop=True)
chi_crime_weather

           DATE  TEMP  PRCP  SNOW   WIND  CRIMES  ARRESTS
0    2019-01-01  31.0  0.01   0.1   7.61    1012      199
1    2019-01-02  28.0  0.01   0.1   8.72     650      144
2    2019-01-03  29.0  0.00   0.0  11.63     751      143
3    2019-01-04  37.0  0.00   0.0   8.05     765      190
4    2019-01-05  39.0  0.00   0.0   8.28     790      207
..          ...   ...   ...   ...    ...     ...      ...
360  2019-12-27  37.0  0.00   0.0   7.16     672      146
361  2019-12-28  34.0  0.28   0.0   6.93     633      136
362  2019-12-29  52.0  0.93   0.0  10.96     689      151
363  2019-12-30  38.0  0.09   0.7  17.67     613      126
364  2019-12-31  26.0  0.08   0.8  14.54     534      109

[365 rows x 7 columns]